---
interface Props {
  approveLabel: string;
}

const { approveLabel } = Astro.props;
---

<template id="tracker-subject-row-template">
  <article class="tracker-subject">
    <div class="tracker-subject__line">
      <button type="button" class="tracker-subject__select" data-select-subject>
        <span class="tracker-subject__name"></span>
        <span class="tracker-subject__meta"></span>
      </button>
      <div class="tracker-subject__state">
        <label class="tracker-check">
          <input type="checkbox" data-complete-subject />
          <span>{approveLabel}</span>
        </label>
        <input type="number" min="5" max="10" step="0.1" class="tracker-grade-input" data-grade-input placeholder="7.0" />
        <span class="tracker-status"></span>
      </div>
    </div>
  </article>
</template>
